#welcome-section{
    height: 100vh;
    background: #000000;
}

.blob{
    height: 100%;
    margin-top: 50px;
    
}
.welcome-text
{
    margin-top: 90px;
    text-align: center;
    color: #fff;
}
.imgColumn{
    margin: 0 auto;
    
}

.welcomeColumn{
    margin: 0 auto;
}
nav{
  background-color: #fff;
}
img{
    max-width: 100%;
    height: auto;
}
.portraitImg{
    max-width: 100%;
    height: auto;
    margin-left: 20%;
    margin-top: 20%;
    
}
.cards{
    /* hover shadow fln ekle havalanmış gibi olsun*/
   margin:3% auto;
   text-align: center;
   max-width: 100%;
   max-width: 25%;
}
.first{
margin-left: 9%;
}
.last{
    margin-right: 9%;
}

h1{
    font-size: 4rem;
    font-weight: 700;
} 
section > h1{
    padding: 40px 0;
    text-align: center;
}
.card-text{
    
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
.card{
    border-radius: 10px;
}
a.card-text{
    text-decoration: none; 
}
.cta{
    height: 50vh;
    background: #000000;
    color: white;
    text-align: center;
}
h2{
    padding-top: 5%;
}
#projects{
    margin-bottom: 3%;
}
#navbar a {
   text-decoration: none; 
   color: #000000;
   font-weight: bold;
   /* hover için değişiklik yap
    a rengini ve navbar rengini değiştir*/ 
}
.fab,.fas{
    color: white;
    padding: 50px;
    margin: 5px ;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
   
    font-family: 'Nunito', sans-serif;
    

}
 @media (max-width: 1024px){
    .portraitImg{
        margin-top: 25%;
        max-width: 100%;
        height: auto;
        margin-left: 10px;
    }
} 
@media (max-width: 768px){
    .portraitImg{
        margin-left:33px ;
        max-width: 100%;
        height: auto;
    }
    p.card-text{
        font-size: 22px;
    }
}
@media (max-width: 426px){
    .portraitImg{
        max-width: 100%;
        height: auto;
        margin-left: 60px;
    }
    p.card-text{
       font-size: 8px;
    }
    h1{
        font-size: 32px;
    }
    i.fa-3x{
        font-size:1.5em;
    }
}
@media (max-width:376px){
    .portraitImg{
        max-width: 100%;
        height: auto;
        margin-left: 36px;
    }
    i.fa-3x{
        font-size:.875em;
    }
    
}